*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-accordion {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 255, 255, 0.164);
}
.accordion-header{
    background-color: #8844ee;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px;
    width: 40%;
    border: 1px solid;
    cursor: pointer;
}
.accordion-content{
    padding: 15px;
    border-top: none;
    background-color: #fff;
    width: 40%;
    display: none;
}